body {
    font-family: monospace;
    background-color: #000000;
    color: #000000;
    background-image: url("img/tecnology.jpg");
    background-size: cover; /* Garante que a imagem cubra toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    text-align: center;
    font-size: 20px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
    margin-bottom: 50px;
}

.tree {
    display: flex; /* Flexbox para alinhar a árvore centralizada */
    justify-content: center; /* Centraliza a árvore */
}

.tree ul {
    padding-top: 10px; /* Diminuído */
    position: relative;
    transition: all 0.5s;
    font-size: 0.8em; /* Diminuído */
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 10px 2px 0 2px; /* Diminuído */
    transition: all 0.5s;
}

.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc; /* Reduzido */
    width: 50%;
    height: 10px; /* Reduzido */
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc; /* Reduzido */
}

.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}

.tree li:only-child {
    padding-top: 0;
}

.tree li a {
    border: 1px solid #ccc; /* Reduzido */
    padding: 5px 10px; /* Reduzido */
    text-decoration: none;
    color: #050505c2;
    background-color: #fafcf5;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.5s;
    font-size: 14px; /* Reduzido */
}

.tree li a:hover {
    border: 1px solid #94c0d6; /* Reduzido */
    color: #94c0d6;
}

.tree li ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc; /* Reduzido */
    width: 0;
    height: 10px; /* Reduzido */
}
